header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	line-height: 26px;
	border: none;
	z-index: 1700;
	}
	/*头部背景颜色的样式*/
.bg-dark {
	background-color: #06060a !important;
}
/*图标*/
.navbar-dark .navbar-brand:hover{
	animation:bounce ease-out infinite 2.5s; 
}
.navbar-brand{ 
	margin: 0 30px;
	font-size: 15px;
}

header:after{
	content:"";
	display: block;
	clear: both;
}