/* 删除底部右侧内容 */
footer .footer-left{opacity: 0;}
/* 导航样式 */
.mt-top {
    max-width: 100%;
    margin:60px 0 0;
}
.mt-top .mt-nav{
  margin-left:12%;
}
.mt-top a{
  color:#fff;

}
.mt-top a:hover{
  text-decoration: none;
  color:#c9caca;
}
.mt-top .breadcrumb a{
  margin:5px;
}
.mt-top .breadcrumb-item + .breadcrumb-item::before {
  padding: 0 5px;
  color: #c9caca;
 }
 /* 轮播样式 */
  /* 图片 */
  #gallery{
    height: 500px;
    position: relative;
    margin-bottom: 100px;
  }
  #gallery .imgLg img{
    position: absolute;
    z-index: 1;
    border:0;
    top:0%;left:30%;
    display: none;
  } 
  #gallery .imgLg img.active{
    display: block;
    height: 450px;width:360px;
  }
  /* 箭头 */
  
  #gallery .info-ctrl .ctrl-box{
    position: relative;
    top:0%;left: 0%;
    cursor: pointer;
  }
 #gallery .info-ctrl .ctrl-left{
   position:absolute;
  width:24px;height:48px;
  background:rgba(15, 15, 15,0.2) url('../upload/arrow-left.png') no-repeat 5px 15px;
  top:50%;left: 22%;
 }
 #gallery .info-ctrl .ctrl-right{
   position: absolute;
  width:24px;height:48px;
  background:rgba(15, 15, 15,0.2) url('../upload/arrow-right.png') no-repeat 6px 15px;
  top:50%;left: 82%;
 }
 /* 小图片 */
 .ad-thumbs{
   position: absolute;
   top: 91%;left: 29%;
   bottom:10%;right: 0%;
   z-index: 1600;
 }
 .ad-thumbs ul li{
   list-style: none;
   float: left;
   margin-left:5px;
 }
 .ad-thumbs ul li a img{
  /*border: 2px solid #fff;*/
  opacity: 0.7
  }
.ad-thumbs ul li a img:hover{
  opacity:1;
}
.ad-thumbs ul li a img.active{
  border: 2px solid #fff;
  opacity: 1;
  }
 /* 左侧样式 */
 .met-right{
  position: relative;
  top:0%;left:-5%;
  overflow: hidden;
  padding:0 15px;
  /* border:1px solid; */
  margin-top:30px;
  }
 .met-right h1{
  font-weight: 400;
  line-height: 1.2;
  color: #37474f;
  font-size:28px;
 }
 .met-right .para{
   border-top:1px solid #f0f2f5;
  border-bottom: 1px solid #f0f2f5;
  width: 450px;
  padding:15px 15px 0 15px;
 }
 .margin-bottom-15{margin-bottom:15px;}
 .blue-grey-500 {
  color: #76838f !important;
}

/* 图片样式 */
.page{
  margin-bottom: 51px;
}
.page .met-body{
  margin: 30px 0 0;
}
.page .content-body{
  border:30px solid #fff;
}
.page .panel {
  margin:0 0 15px 0;
}
.page .panel ul{
  background-color: #fff;
  padding-bottom:30px;
  margin: 0;
  list-style: none;
}
.page .panel ul li{
  
  border-bottom:1px solid #e4eaec;
  padding-bottom: 10px;
}
.page .panel ul li a{
  padding:0 30px 10px 30px;
  border-bottom: 2px solid #002729;
}
.page .tab-conten{
  padding-right:0.8px;
}
.page .tab-conten img{
  width: 100%;
  margin-bottom:16px;
  border:0;
}

.page #metinfo_additional{
  margin-top:24px;
}
.page #metinfo_additional p{
  text-indent: 25px;
  color:#fff;
}
.product-hot{
 background-color: #fff;
 margin:0 20px 30px;
 padding:30px;
 color: #37474f;
}
.product-hot h4{
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
  line-height: 1.2;
}
.product-hot .hot-list div{
  margin-bottom:10px;
  text-align: center;
}
.product-hot .hot-list a img{
  margin-bottom: 5px;
}
.product-hot a:hover{
  color:#4e97d9;
}