header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	line-height: 26px;
	border: none;
	z-index: 1700;
	overflow: hidden;
	}
	/*公共样式*/
	li{
		list-style:none;
		cursor: pointer;
	}
#content{
	margin-right:50px;
}
#content a{color:#fff;font-size: 15px;}
#content a.active{color:#167b74}
#content a:hover{
		color: #c9caca;
		text-decoration: none;
	}
	/*头部背景颜色的样式*/
.bg-dark {
	background-color: #06060a !important;
}
/*图标*/
.navbar-dark .navbar-brand:hover{
	animation:bounce ease-out infinite 2.5s; 
}
.navbar-brand{ 
	margin: 0 30px;
	font-size: 15px;
}

header:after{
	content:"";
	display: block;
	clear: both;
}
/*二级菜单样式*/
.nav-link{
	padding: 0 15px;
	margin-right:24px;
}
.nav-item>a.active+ul.nav-menu{
	opacity:1;
}
.nav-menu{
	position: absolute;
	background-color: #06060a;
	transform: translateY(30px);
	padding:0;
	opacity: 0;
}
.nav-menu>li{padding:15px 15px;}
