/* 561  657  544*/
.window-bin{height:640px;}
.window-bin.f1{height:700px;}
.floor_bg{
  background-image:url(../upload/201905/1557126078.jpg);
}
.f_bg{
  background:url(../upload/201905/1557126491.jpg) no-repeat 0px -200px;
}
.window-bin::before{
  content:"";
  display:table;
}
body{width:100%;}
.h-25{
  display:block;
  height:52px !important;
  overflow: hidden;
  list-style: none;
  padding: 0 5px;
  line-height: 26px;
  font-size:14px;
  margin-bottom: 11px;
  width:245px;
}
.h-25:hover{
  text-decoration: none;
}
.row{
  margin:0px;
}
/* 婚纱新品 */
.breadcrumb-item{
  padding:0 5px;
}
.f2.window-bin{
  position: relative;
  top:0%;left:0%;
}
.f2 .f2_top{
  position: relative;
  top:5%;
  padding: 0 60px;
}
  .price-box{
    display: flex;
    flex-wrap: nowrap;
    margin:3% 5% 0%;
  }
  .price-box .price-bin{
  flex:0 0 23%;
  margin:10px; 
  }
  .price-box  .price-bin .bin{
    overflow: hidden;
  }
    .price-box  .price-bin img{
      transition:.3s;
    }
  .price-bin a:hover img{
    transform: scale(1.1);
    transition:.3s;
  }
  .price-bin a b{
    display: block;
    font-size:16px;
    color:#fff;
    font-weight: lighter;
    padding:16px 0 16px;
    transition:.3s;
  }
  .price-bin a:hover b{
    color:#8e8e8e;
    transition:.3s;
  }
/* 产品的样式 三楼*/
.f3 .service-title{
  padding:60px 0 0 40px;
}
.service-cut {
  position: relative;
  width: 810px;
  overflow: hidden;
  left:20%;
  top:-14%;
}
.service-bin{
  width:270px;
  height: 550px;
  float: left;/*让块级元素一行显示*/
  position: relative;
  top:0%;left:0%;
  overflow: hidden;
}
.service-bin:not(:first-child){
  border-left:1px solid rgba(0,0,0,.06);
}
/* .service-bin:first-child{
  margin-left:2%;
} */
.service-bin a {
  display: block;
  position: absolute;
  top:45%;
  left: 15px;
  right: 15px;
  height: 150px;
  text-align: center;
  color:#fff;
} 

.service-bin a img {
  width: 100%;
  position: absolute;
  left:0;bottom: 100%;
  visibility: hidden;
  z-index: 999;
  opacity: 0;
  vertical-align: middle;
  border: 0;
  transition:.3s;
}
.service-bin:hover{
  background-color:rgba(0,0,0,.8);
  transition:.6s;
}
.service-bin:hover i{
  transform: scale(2);
  opacity: 0;
}
.service-bin:hover a{
  color:#8c8c8c;
  margin-top:20px;
}
.service-bin:hover img{
  visibility:visible;
  opacity: 1;
  transition:.3s;
  margin-bottom: 20px;
}
.service-bin a i{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 100%;
  color: #a8a8a8;
  font-size: 60px;
  font-style: normal;
  font-family: Times;
  transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  -ms-transition: .35s ease-in-out;
  -o-transition: .35s ease-in-out;
  -webkit-transition: .35s ease-in-out;
}
.service-bin a b{
  display: block;
  font-size: 17px;
  padding: 15px 0;
  font-weight: normal;
}
.service-bin a p {
  display: block;
  color: #fff;
  padding: 0 5 11 5px;
  line-height: 26px;
  height: 50px;
  overflow: hidden;
}
.service-bin a span{
 display: block;
 font-family: Times;
 color: #8e8e8e;
 letter-spacing: 1px;
}
.service-bin a span em {
  font-size: 20px;
  display: inline-block;
  font-family: '';
  font-style: normal;
  color: #8e8e8e;
  position: relative;
  top: 3px;
  padding-left: 5px;}
/* 箭头样式 */
.f3 .info-ctrl .ctrl-left {
  right: 81%;}
.f3 .info-ctrl .ctrl-right {
   left: 81%;}
   /* 第四层样式 关于 */
   /* 字体样式 */
   .f4 .anenst-right{
    color:rgb(255, 255, 255);
   }
   .f4 .anenst-right .anenst-title{
     padding:60px 80px 16px;
   }
   .f4 .anenst-right .anenst-content{
     margin:0 80px;
   }
   .f4 .anenst-right p>span{
    color:rgb(255, 255, 255);
    font-weight:700;
   }
   .f4 .anenst-right  p{
    font-weight: normal;
    color:#a8a8a8;
    font-family: Times;
    font-weight:700;
   }
   .f4 .anenst-right .anenst-content p:not(:first-child){
     text-indent: 30px;
   }
  /*第五层样式  新闻*/
  /*轮播箭头*/
  .info-ctrl .ctrl-box{
    position: absolute;
    color:#a8a8a8;
    font-size:50px;
    cursor: pointer;
    transition: .3s;
  }
  .info-ctrl .ctrl-left{
    right:87%;
    top:50%;
    margin-top:-38px;
  }
  .info-ctrl .ctrl-right{
    left:87%;
    top:50%;
    margin-top:-38px;
  }
  .window-bin .window-back{
    position: relative;
    width: 100%;
    height: 100%;
    background-image:url(../upload/201905/1557126910.jpg);
    background-position: top center;
    background-size: cover;
  }
  .window-bin .title-box{
    position: absolute;
    top:5%;
    padding: 0 60px;
  }
  .title-name{
    float: left;
    padding: 60px 0 0 40px;
    line-height: 1.5;
  }
  .title-name strong {
    display: block;
    font-size: 26px;
    font-weight: normal;
    font-weight:bolder;
    transition: .3s .1s;
    -webkit-transition: .3s .1s;
  }
  .title-name span {
    display: block;
    font-size: 15px;
    font-family: Times;
  }
  
   /*内容右侧*/
   .info-box{
     height: 100%;
     margin:0 13%;
     overflow:hidden;
   }
   .info-box .info-cut{
     transform: translate3d(0px,0px,0px);
     transition-duration: 0ms;
     
   }
   .info-box .info-cut{
     width: 1000%;
     height: 100%;
   }
   .info-box .info-bin{
     width: 476px;
     height: 100%;
     padding-left:80px;
     float: left;
     position: relative;
     padding-top:60px;
   }
   .info-bin:not(:first-child){
    margin-left:20px;
  }
   .info-box .info-bin>div:first-child{
    height: 580px;
    max-width: 435px;
    border-left:1px solid rgba(255,255,255,.08);
    position: relative;
    margin: 0 auto;
   }
   .info-box .info-only{
     border-color:rgba(255,255,255,.08);
   }
   .info-center{
     height: 470px;
     position: absolute;
     top:18%;
     left:0;
     right: 0;
   }
   
   .info-only a{
     display:block;
     position: relative;
   }
   .info-only a img{
     width: 100%;
     vertical-align: middle;
     border:0;
   }
   .info-only a b{
     color:#fff;
     padding:35px 0 0 20px;
     display: block;
     position: relative;
   }
   .info-only a b i{
     position: absolute;
     top:25px;
     right: 100%;
     line-height: 1.2;
     padding-right: 15px;
     font-family: Times;
     font-style: normal;
   }
   .info-only a b i strong{
     font-size:28px;
     color:#8c8c8c;
     display: block;
     white-space: nowrap;
     font-weight: normal !important;
   }
   .info-only a b i font{
     color:#a8a8a8;
     font-size:13px;
     display: block;
     padding-left:15px;
   }
   .info-only a b big{
     display: block;
     font-size: 17px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space:nowrap;
     transition: .3s .1s;
     transform: translateX(0)
   }
   .info-only a p{
    color: #a8a8a8;
    margin:15px 0 0 20px;
    position: relative;
    line-height: 26px;
    height:52px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    transition: .3s;
    font-size:14px;
   }
   .info-only a span{
     margin:40px 0 0 20px;
     border-top:1px solid rgba(255,255,255,0.08);
     display: block;
     color:#a8a8a8;
     font-family: Times;
     width: 150px;
     font-size:16px;
     text-align: center;
     padding-top:2px;
   }
   .ctrl-box .info-list{
     background-color: rgba(255,255,255,.08);
    }
   .info-list a{
     display: block;
     position: relative;
     border-bottom:1px solid rgba(255,255,255,.08);
    padding-left:5px;
   }
   .info-list a b{
     color:#ddd;
     font-size:16px;
     display: block;
     position: relative;

   }
   .info-list a:first-child b{
     padding-top: 0px;
   }
   .info-list a:first-child b i{top:-5px;}
   .info-list a b i{
     position:absolute;
     right:100%;
     line-height:1.2;
     padding-right:10px;
     text-align:right;
     font-family:Times;
     font-style:normal;
   }
   .info-list a b i strong{
     color:#8c8c8c;
     font-size:28px;
     display: block;
     white-space: nowrap;
     font-weight: normal;
   }
   .info-list a b i font{
     color:#a8a8a8;
     font-size:13px;
     display: block;
   }
   .info-list a b span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .3s .1s;
    transform: translateX(0);
    margin-top:10px;
   }
   .info-list a b span:first-child{
     margin:0px;
   }
   .info-list a p{
      color:#a8a8a8;
      margin: 15px 0;
      line-height: 26px;
      height: 52px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-indent: 10px;
      transition: .3s;
      transform: translateX(0);
   }
/*第六层-->联系*/
.f6{
  background:url(../upload/201905/1557126874.jpg) no-repeat 0px -200px;
  margin-top: 60px;
  border:0;
}
.f6 .title-name{
  position: relative;
  padding: 60px 60px 0;
}
.f6 .title-name strong{
  font-weight: 100;
  transition: .6s;
} 
.f6 .title-name p{
  transition: .6s;
}
.f6 .title-name:hover strong{
  transition: .6s;
  padding-left: 10px;
}
.f6 .title-name:hover p{
  transition: .3s;
  padding-left: 10px;
}
.f6 .touch-box{
  margin:160px 0 0px;
  padding: 100px 150px;
  overflow:hidden;
}
.f6 .touch-left{
  padding-left:0px;
  transition: .6s;
}
.f6 .touch-left:hover{
  padding-left:10px;
  transition: .6s;
}

.f6 .touch-right{
  float: right;
  line-height: 0;
  max-width: 60%;
  margin-left:60px;
}
.f6 .touch-right input{
  color:white;
}


/*侧边导航栏*/
.area-box{position:fixed; right:20px; top:50%; transform:translateY(-50%); -moz-transform:translateY(-50%); z-index:9999;

  -ms-transform:translateY(-50%); -o-transform:translateY(-50%); -webkit-transform:translateY(-50%);}
  
  .area-cut{position:relative; width:30px; height:30px; cursor:pointer;}
  
  .area-cut span{position:absolute; left:50%; top:50%; width:4px; height:4px; border:2px solid #999; line-height:0; font-size:0; border-radius:50%;
  
  transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); 
  
  -o-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%);
  
  transition:.5s ease-in-out; -moz-transition:.5s ease-in-out; -ms-transition:.5s ease-in-out; 
  
  -o-transition:.5s ease-in-out; -webkit-transition:.5s ease-in-out;}
  
  .area-cut.active span{width:15px; height:15px; border-color:#5a5a5a;}
  
  .area-cut font{position:absolute; right:30px; top:0; white-space:nowrap; height:30px; line-height:30px; opacity:0; color:#959595;
  
  transition:.3s; -moz-transition:.3s; -ms-transition:.3s; -o-transition:.3s; -webkit-transition:.3s;}
  
  .area-cut:hover font{opacity:1;}
  
  .area-cut.active font{color:#959595;}